*{
    margin: 0;

}

.containerBox{
    display: flexbox;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    width: 500px;
    height:auto;
    background-color: rgba(11, 255, 243, 0.973);
    background-origin: content-box;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 30px rgba(204, 182, 182, 0.39);
    border: 2px solid rgba(46, 37, 37, 0.349);

}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #fc3d3d 5%, #fd2929 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

}
.myButton:hover {
	background:linear-gradient(to bottom, #3484ce 5%, #3360f5 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}

.errmsg{
    color: red;
}

.containerBox input {
    background-color: #14fc27d8;
    font-weight: bold;
    color: black;
    padding: 7px;
    outline: none;
    margin: 10px;
    font-family: monospace;
    border-radius: 9px;
  }

  .myButton2 {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #fce93d 5%, #fdf929 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

}
.myButton2:hover {
	background:linear-gradient(to bottom, #34ce55 5%, #43f533 100%);
	background-color:#bc80ea;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.myButton3 {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #3d6afc 5%, #297efd 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myButton3:hover {
	background:linear-gradient(to bottom, #34ce55 5%, #43f533 100%);
	background-color:#bc80ea;
}
.myButton3:active {
	position:relative;
	top:1px;
}
.containerBox select {
    font-weight: bold;
    background-color: #14fc27d8;
    color: black;
    padding: 7px;
    outline: none;
    margin: 10px;
    border-radius: 9px;
  }